<div class="navbar navbar-fixed-top visible-phone noprint" id="phone-navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Jeff Lee</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#about" class="scroller">About me</a></li>
                    <li><a href="#experiences" class="scroller">Experiences</a></li>
                    <li><a href="#education" class="scroller">Education</a></li>
                    <!-- <li><a href="#projects" class="scroller">Projects</a></li> -->
                    <li><a href="#contact" class="scroller">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
