<div class="navbar navbar-inverse navbar-fixed-top visible-phone noprint" id="phone-navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">John Doe</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#about-me" class="scroller">About me</a></li>
                    <li><a href="#personal-information" class="scroller">Personal Info</a></li>
                    <li><a href="#employment" class="scroller">Employment</a></li>
                    <li><a href="#education" class="scroller">Education</a></li>
                    <li><a href="#skills" class="scroller">Skills</a></li>
                    <li><a href="#testimonials" class="scroller">Testimonials</a></li>
                    <li><a href="#hobbies" class="scroller">Hobbies</a></li>
                    <li><a href="#portfolio" class="scroller">Portfolio</a></li>
                    <li><a href="#blog" class="scroller">Blog</a></li>
                    <li><a href="#contact" class="scroller">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div><!--/#phone-navbar -->
