<div class="span3 sbright noprint" id="sidebar">
    <div class="sidebar-nav equal hidden-phone">
        <ul class="nav nav-list affix" id="resumenav">
            <li><a href="#about" class="scroller">About me</a></li>
            <li><a href="#experiences" class="scroller">Experiences</a></li>
            <li><a href="#education" class="scroller">Education</a></li>
            <li><a href="#projects" class="scroller">Projects</a></li>
            <!-- <li><a href="#blog" class="scroller">Blog</a></li> -->
            <li><a href="#contact" class="scroller">Contact</a></li>
        </ul>
    </div>
    <span class="clear"></span>
</div>
