{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "never"],
    "max-len": ["warn", {
      "code": 120,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-console": "warn",
    "react/prefer-stateless-function": "off"
  },
  "globals": {
    "document": true
  }
}
