<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Jeff Lee</title>

    <link type="text/css" rel="stylesheet" href="styles/style.min.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="styles/print.min.css" media="print" />

    <script src="js/vendor/jquery/dist/jquery.min.js"></script>
</head>

<body class="backgrounded" data-spy="scroll" data-target=".sidebar-nav">
    <%- partial('../partials/mobile-navbar') %>

    <div class="container">
        <div class="row" id="content">
            <div class="span9 equal" id="main-content">
                <div class="tools noprint visible-desktop">
                    <a href="javascript:if(window.print)window.print()" title="Print" data-placement="bottom" class="tips glyphicons print"><i></i></a>
                    <a href="#" title="Download" data-placement="bottom" class="tips glyphicons file_import"><i></i></a>
                </div>

                <%- body %>
            </div>

            <%- partial('../partials/sidebar') %>
        </div><!--/row-->

        <div id="footer">
            <p>&copy; Jeff Lee - 2014</p>
        </div>
    </div>

    <script src="js/vendor/requirejs/require.js" data-main="js/angular/home.min"></script>
    <script src="js/script.js"></script>

    <%- partial('../partials/facebook-pixel') %>
</body>
</html>
