<div class="section noprint" id="contact">
    <h2 class="section-title"><span class="glyphicons message_flag"><i></i></span>Contact<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

    <div class="row">
        <div class="span4">
            <div class="input text required">
                <label for="ContactName"></label>
                <div class="input-prepend">
                    <span class="add-on"><span class="glyphicons user"><i></i></span></span>
                    <input ng-model="contactForm.name" placeholder="Name" maxlength="50" type="text" required="required" />
                </div>
            </div>

            <div class="input email required">
                <label for="ContactEmail"></label>
                <div class="input-prepend">
                    <span class="add-on"><span class="glyphicons envelope"><i></i></span></span>
                    <input ng-model="contactForm.email" placeholder="E-mail" type="email" required="required" />
                </div>
            </div>

            <div class="input text">
                <label for="ContactWebsite"></label>
                <div class="input-prepend">
                    <span class="add-on"><span class="glyphicons globe"><i></i></span></span>
                    <input ng-model="contactForm.website" placeholder="Website" type="text" />
                </div>
            </div>
        </div>

        <div class='span5'>
            <div class="input textarea">
                <label for="ContactMessage"></label>
                <textarea id="contactMessage" placeholder="Type your messages here..." class="span5" rows="8" cols="30"></textarea>
            </div>

            <div class="submit">
                <button class="btn btn-success btn-large" ng-click="sendmail()">Send</button>
            </div>
        </div>
    </div>

    <style type="text/css">
        .input {
        	padding-left: 3px;
        	font-size: 18px;
        }

        input[type=text], input[type=email] {
        	height: 36px;
        	width: 248px;
        	font-size: 20px;
        	padding: 4px 10px;
        }

        .input-prepend .add-on {
            padding: 12px;
        	width: 20px;
        	font-size: 20px;
        }

        .add-on .glyphicons {
            padding: 12px 3px 5px 15px;
        }

        .add-on .glyphicons i:before {
            font-size: 20px;
        }

        textarea {
        	font-size: 105%;
        	padding: 12px;
        }
    </style>
</div>
