<div class="section first-section" id="about">
    <div class="row author">
        <div class="span3">
            <img class="img-rounded" src="https://gravatar.com/avatar/9116994a95b11f219055306520647168?s=300" alt="Jeff Lee" />
        </div>
        <div class="span6">
            <h1>Jeff Lee</h1><br/>
            <h2 class="primary-color">Software Developer</h2>
        </div>
    </div>

    <div class="well">
        <h3>I am Senior UX designer @ <a href="#">Company.com</a></h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor blandit eros vel scelerisque. Donec mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. Sed fermentum molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing. Nullam vestibulum fringilla lectus, ut vulputate neque laoreet sit amet.</p>
    </div>
</div>
