<div class="section first-section" id="about">
    <div class="row author">
        <div class="span3">
            <img class="img-rounded" src="{{ profile.avatar }}" alt="{{ profile.name }}" />
        </div>
        <div class="span6">
            <h1>{{ profile.name }}</h1><br />
            <h2 class="primary-color">{{ profile.bio.title }}</h2>

            <ul id="social">
                <li ng-repeat="social in profile.social">
                    <a href="{{ social.url }}" title="{{ social.name }}"><span class="glyphicons {{ social.icon }}"><i></i></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="well">
        <h3>I am currently the {{ profile.bio.current.position }} @ <a href="{{ profile.bio.current.url }}" target="_blank">{{ profile.bio.current.employer }}</a></h3>
        <p class="lead">{{ profile.bio.current.details }}</p>
    </div>
</div>
