<div class="section noprint" id="contact">
    <h2 class="section-title"><span class="glyphicons message_flag"><i></i></span>Contact<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

    <form method="post" action="#contact" class="form-horizontal">
        <fieldset>
            <legend>Send me a message using the form below</legend>

            <div class="control-group">
                <label class="control-label" for="form-subject">Subject</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" placeholder="Email Subject" id="form-subject" name="subject" class="input-xlarge" value="">
                        <span class="add-on"><span class="glyphicons circle_question_mark"><i></i></span></span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="form-message">Message</label>
                <div class="controls">
                    <div class="input-append">
                        <textarea rows="6" placeholder="Your message" id="form-message" name="message" class="input-xlarge"></textarea>
                        <span class="add-on"><span class="glyphicons pen"><i></i></span></span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary input-medium" name="submit">Submit</button>
                </div>
            </div>


        </fieldset>
    </form>
</div>
