<div class="section" id="education">
    <h2 class="section-title"><span class="glyphicons certificate"><i></i></span>Education<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

    <div class="timeline">
        <div class="timeline-item" ng-repeat="e in education">
            <div class="timeline-item-date">{{ e.startTime }} - {{ e.endTime }}</div>
            <div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#{{ e.degree | slug }}"><i></i></span></div>
            <div class="timeline-arrow"><i></i></div>
            <div class="timeline-item-content">
                <h3 class="timeline-item-title" data-toggle="collapse" data-target="#{{ e.degree | slug }}">{{ e.school }}</h3>
                <div class="collapse" id="{{ e.degree | slug }}">
                    <!-- <p><small class="muted">from {{ e.startTime }} to {{ e.endTime }}</small></p> -->
                    <h4 class="media-heading primary-color" ng-bind-html="e.degree | html"></h4>
                    <ul>
                        <li ng-repeat="desc in e.details">
                            {{ desc.name }}
                            <ul ng-if="desc.desc.length > 0">
                                <li ng-repeat="d in desc.desc" ng-bind-html="d | html"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
