<div class="section" id="experiences">
    <h2 class="section-title"><span class="glyphicons share_alt"><i></i></span>Employment<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

    <div class="timeline">
        <div class="timeline-item" ng-repeat="e in experiences">
            <div class="timeline-item-date">{{ e.startTime }} - {{ e.endTime }}</div>
            <div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#{{ e.employer | slug }}"><i></i></span></div>
            <div class="timeline-arrow"><i></i></div>
            <div class="timeline-item-content">
                <img src="/images/logos/{{ e.employer | slug }}.png" alt="" class="timeline-item-logo"/>
                <h3 class="timeline-item-title" data-toggle="collapse" data-target="#{{ e.employer | slug }}">
                    {{ e.position }} @ {{ e.employer }}
                </h3>
                <div class="collapse" id="{{ e.employer | slug }}">
                    <!-- <p><small class="muted">from {{ e.startTime }} to {{ e.endTime }}</small></p> -->
                    <h4 class="media-heading primary-color">{{ }}</h4>
                    <ul>
                        <li ng-repeat="desc in e.details" ng-bind-html="desc | html"></li>
                    </ul>
                    <!--p><a href="#" title="" class="noprint">&rarr; View website</a></p-->
                </div>
            </div>
        </div>
    </div>
</div>
